#logo {
    width: 250px;
    height: 100px;
}

#menu a {
    font-family: Dubai;
}

#portada {
    background: url(https://hardcore-hermann-21428c.netlify.com/media/wp.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: -13px;
}


#portada h1 {
    font-family: Dubai;
    color: #e3d9de;
    font-size: 60px;
}

#texto h1 {
    font-size: 60px;
    font-family: Dubai;
}

#texto p{
    font-size: 25px;
    font-family: Dubai;
}

