#Entrevista{
    font-size: 25px;
    font-family: Dubai;
}

#affinity_map{
    font-size: 25px;
    font-family: Dubai;
}

#task_analisys{
    font-size: 25px;
    font-family: Dubai;
}

#PuntosFuerte{
    font-size: 25px;
    font-family: Dubai;
}
#wireFrame{
    font-size: 25px;
    font-family: Dubai;
}
#PuntosDebiles{
    font-size: 25px;
    font-family: Dubai;
}

p {
    color: white;
}
h1 {
    color: white;
}

@media print{
    #PuntosFuerte{
        text-align-last: justify;
    }
    #menu{
        display: none;
    }
    #portada{
        display: none;
    }
    #video{
        display: none;
    }
    #img1{
        display: none;
    }
    #img2{
        display: none;
    }
    #img3{
        display: none;
    }
    #footer{
        display: none;
    }
}
